<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login Page</title>
    <%- include('partials/nav') %> 
</head>

<body>    
    <h2>Login</h2>       
    <div class="login" >          
        <form action="/user/login" method="POST" >
             <% if(locals.messages){ %>
                <div class="errorMsg" role="alert">
                   <%=messages.msg%> 
                </div>
                <% } %><br>
            <label for="username" >Username:</label><br>
            <input type="text"  placeholder="Username" name="username" id="username">
            <br><br>
            <label for="password">Password:</label><br><br>
            <input type="password" placeholder="Password" id="password" name="password">
            <br><br>
            <button id="loginBtn">Submit</button><br><br><br>
        </form>
    </div>
</body>

</html>