<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>New Route</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/map.css">
    <link rel="stylesheet" href="/stylesheets/nav.css"> 
    <%- include('partials/nav') %>  
    <script src="/javascript/nav.js"></script> 
  </head>

  <body>
    <br>
    <div class="center">
        <input id="pac-input" class="barInput"  type="text" placeholder="Enter a place">
    </div><br>
    <div id="map" ></div>
    <div id="directionsPanel" style="float:right;width:30%;height:100%"></div>
    

  </body>

</html>