body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login, .register {
    width: 352px;
    display: block;
    margin-left: 43%;
}

.errorMsg {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bold;
}

h2 {
    text-align: center;
    color:#424343;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}

label {
    color:#424343;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

#username, #password, #email, #levelAccess {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px; 
    padding-left: 8px;
}


#loginBtn, #registerBtn {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 19px;
    padding-left: 7px;
    background-color: #b3b7b7;
    color:#424343;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;

}

#loginBtn:hover, #registerBtn:hover {
    background-color:#424343;
    color: antiquewhite;
    font-weight: bold;
}

.sideBar {
    width: 200px;
    height: auto;
    border: 2px 424343;
}

.errorMsg404 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bold;
    text-align: center;
}